* {
  box-sizing: border-box;
}

body {
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #111;
  font-family: Arial, sans-serif;
  background-color: #004643;
  scroll-behavior: smooth;
}

.title {
  color: #fffffe;
  text-align: center;
  font-size: 40px;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 320px;
  margin: 50px auto;
  padding: 20px;
  background-color: #abd1c6;
  border-radius: 4px;
}

.calculator__input {
  width: 100%;
  padding: 10px;
  color: #e8e4e6;
  font-size: 20px;
  font-weight: 600;
  background-color: #004643;
  border: none;
  border-radius: 5px;
  outline: none;
}

.calculator__input:hover,
.calculator__input:focus {
  color: #004643;
  background-color: #e8e4e6;
}

.calculator__select {
  width: 25%;
  padding: 10px;
  color: #004643;
  background-color: #f9bc60;
  border: 1px solid #004643;
  border-radius: 10px;
  outline: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.calculator__select:hover,
.calculator__select:focus {
  background-color: #e8e4e6;
} 

.calculator__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  color: #fffffe;
  background-color: #f9bc60;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

.calculator__button:hover,
.calculator__button:focus {
  background-color: #e16162;
}

.calculator__output {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 10px;
  color: #004643;
  background-color: #e8e4e6;
  border: 1px solid #004643;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
